.time-setter-container {
    display: flex;
    flex-direction: column;
}

.timer-form, .clock-display {
    display: flex;
    flex-direction: row;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.time-display {
    margin: 0rem 1rem;
}
